body {
  font-family: 'Open Sans', sans-serif;
}
.ButtonDiv {
  display: flex;
  align-items: flex-end;
}
.Add-Person-Button {
  display: flex;
  padding:0.7em 1.4em;
  margin:10px 15% 10px auto;
  width: 150px;
  border: none;
  border-radius:5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  color:#FFFFFF;
  background-color:rgb(7, 83, 146);
  text-align:center;
  align-items: center;
  align-content:center;
  justify-content: center;
  align-self: flex-end;
  position:relative;
}

table {
  border: solid 2px black;
  border-collapse: collapse;
  margin-top: 20px;
  width: 1000px;
}

td, th {
  padding: 0 .5rem 0 .5rem;
  text-align: left;
  border-left: 2px solid black;
}

th {
  background: rgb(170, 170, 170);;
}

tr:nth-of-type(even) {
  background:rgb(211, 211, 211)
}

input {
  width: 327px;
  height: 48px;
}

select, option {
  width: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Table {
  display: "inline-flex";
  justify-content: "center";
  padding-bottom: 50px;
}

.Chart {
  border: solid 1px black;
  height: 400px;
  width: 400px;
}

.Modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.Form {
  display:flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1em;
  width: 500px;
  height: 350px;
  padding: 15px 0 15px 0;
}

.Column-Button {
  display: flex;
  width: 100%;
  font-family:'Roboto',sans-serif;
  font-weight: 700;
  text-transform:uppercase;
  text-align:center;
  align-items: center;
  align-content:center;
  justify-content: flex-start;
  position:relative;
  border:none;
  outline: none;
  background: rgb(170, 170, 170);
}

.form-button1 {
  display: flex;
  padding:0.7em 1.4em;
  margin:10px auto;
  width: 150px;
  border:none;
  border-radius:5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  color:#FFFFFF;
  background-color:rgb(7, 83, 146);
  text-align:center;
  align-items: center;
  align-content:center;
  justify-content: center;
  position:relative;
}

.form-button1:active {
  top: 0.1em;
}

.labelName {
  display: flex;
  width: 66%;
  padding: 10px;
  font-weight: 700;
}

.close-button {
  background: white;
  border: none;
  color: blue;
}

.close-button:active {
  top: 0.1em;
}